<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PatientRegistration</servlet-name>
    <servlet-class>Controller.PatientReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientRegistration</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatientLog</servlet-name>
    <servlet-class>Controller.PatientLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientLog</servlet-name>
    <url-pattern>/PatientLogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DocLogin</servlet-name>
    <servlet-class>Controller.DocLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocLogin</servlet-name>
    <url-pattern>/DocLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Docreg</servlet-name>
    <servlet-class>Controller.Docreg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Docreg</servlet-name>
    <url-pattern>/DocReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Appoitment</servlet-name>
    <servlet-class>Controller.Appoitment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Appoitment</servlet-name>
    <url-pattern>/Appoitment</url-pattern>
  </servlet-mapping>
  <context-param>  
	<param-name>db</param-name>  
	<param-value>jdbc:mysql://remotemysql.com:3306/dtQocaysMD</param-value>  
  </context-param>
    <context-param>  
	<param-name>dbid</param-name>  
	<param-value>dtQocaysMD</param-value>  
  </context-param>
    <context-param>  
	<param-name>dbpass</param-name>  
	<param-value>0Xdw6bv41y</param-value>  
  </context-param>
</web-app>